


<div class="container">
	<div class="row">
		<div class="col-12">
			  <p><a  href="https://en.wikipedia.org/wiki/Red">
			  	 19:45:35
			  </a></p>
		</div>
	</div>
  	<div class="row">
    <div class="col-2">
		<div class="alert alert-light" role="alert">
			<p2>Системы обороны</p2>
			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
			  <div class="btn-group me-2" role="group" aria-label="First group">
			    <button type="button" class="btn btn-primary">1</button>
			    <button type="button" class="btn btn-primary">2</button>
			  </div>
		 	</div>
		</div><br/>
		<div class="alert alert-light" role="alert">
			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
			  <div class="btn-group me-2" role="group" aria-label="First group">
			    <button type="button" class="btn btn-primary">1</button>
			    <button type="button" class="btn btn-primary">2</button>
			  </div>
		 	</div>
		</div><br/>
		<div class="alert alert-light" role="alert">
			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
			  <div class="btn-group me-2" role="group" aria-label="First group">
			    <button type="button" class="btn btn-primary">1</button>
			    <button type="button" class="btn btn-primary">2</button>
			  </div>
		 	</div>
		</div><br/>
		<div class="alert alert-light" role="alert">
			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
			  <div class="btn-group me-2" role="group" aria-label="First group">
			    <button type="button" class="btn btn-primary">1</button>
			    <button type="button" class="btn btn-primary">2</button>
			  </div>
		 	</div>
		</div><br/>
		<div class="alert alert-light" role="alert">
			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
			  <div class="btn-group me-2" role="group" aria-label="First group">
			    <button type="button" class="btn btn-primary">1</button>
			    <button type="button" class="btn btn-primary">2</button>
			  </div>
		 	</div>
		</div><br/>
		<div class="alert alert-light" role="alert">
			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
			  <div class="btn-group me-2" role="group" aria-label="First group">
			    <button type="button" class="btn btn-primary">1</button>
			    <button type="button" class="btn btn-primary">2</button>
			  </div>
		 	</div>
		</div><br/>

    </div>
    <div class="col-10">
      <img style="width: 1200px" src="img/bridge.gif" alt="я джифка">
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>


<div id="container">

 

<!--
<p><a href="https://en.wikipedia.org/wiki/Blue">
    BLUE
  </a></p>

  <p><a href="https://en.wikipedia.org/wiki/Yellow">
    Yellow
  </a></p>

  <p><a href="https://en.wikipedia.org/wiki/Green">
    GREEN
  </a></p>

  <p><a href="https://en.wikipedia.org/wiki/Orange_(colour)">
    ORANGE
  </a></p>

  <p><a href="https://en.wikipedia.org/wiki/Violet_(color)">
    VIOLET
  </a></p>
-->
</div>

