


<div class="container">
	<div class="row">
		<div class="col-12">
			  <p><a  href="https://en.wikipedia.org/wiki/Red">
			   <span id="time">20:00:00</span>
			  </a></p>
		</div>
	</div>
  	<!--<div class="row">
    <div class="col-2">
		<div class="alert alert-light" role="alert">
			<a href ="/robo" ><button type="button" class="btn btn-danger">ОТДЕЛ СИСТЕМ РОБОТОТЕХНИКИ</button></a>
		</div><br/>
		<div class="alert alert-light" role="alert">
			<a href ="/battle" ><button type="button" class="btn btn-danger">ОТДЕЛ СИСТЕМ ОБОРОНЫ</button></a>
		</div><br/>
		<div class="alert alert-light" role="alert">
			<a href ="/med" ><button type="button" class="btn btn-danger">ОТДЕЛ МЕДИЦИНЫ</button></a>
		</div><br/>

    </div>-->
    <div class="col-12">
    	<div class="mx-auto" style="width: 1200px;">
      		<img style="width: 1200px" src="img/bridge.gif" alt="я джифка">
      	</div>
    </div>
    
    <div class="col-12">
    	<div class="mx-auto" style="width: 1400px;">
        <div style="font-size: 10px" class="alert alert-light" role="alert">

        	<strong>
																<!-- ИТОГИ ОТДЕЛОВ  -->




</strong>
</div>
		</div><br/>




    </div>
  </div>
</div>


<div id="container">

 

<!--
<p><a href="https://en.wikipedia.org/wiki/Blue">
    BLUE
  </a></p>

  <p><a href="https://en.wikipedia.org/wiki/Yellow">
    Yellow
  </a></p>

  <p><a href="https://en.wikipedia.org/wiki/Green">
    GREEN
  </a></p>

  <p><a href="https://en.wikipedia.org/wiki/Orange_(colour)">
    ORANGE
  </a></p>

  <p><a href="https://en.wikipedia.org/wiki/Violet_(color)">
    VIOLET
  </a></p>
-->
</div>

<script>
function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}

window.onload = function () {
    var fiveMinutes = 60 * 20,
        display = document.querySelector('#time');
    startTimer(fiveMinutes, display);
};

</script>