<div class="container">


	<div class="row">
		 <div class="col-12">

    <div class="col-12">
    	<div class="mx-auto" style="width: 1400px;">
        <div style="font-size: 15px" class="alert alert-light" role="alert">

<strong>
																<!-- ИТОГИ ОТДЕЛОВ  -->

 


ИТОГ работы отделов<br/>
<hr/>
<div class="alert alert-success" role="alert"> Инженеры оборонных систем корабля решили, что нельзя подвергать системы безопасности и экипаж губительному воздействию гамма излучения. Сброс защитного слоя фюзеляжа,  позволил немедленно набрать необходимую скорость, чтобы удалиться от черной дыры. Благодоря слаженной работе экипажа и искусственного интеллекта удалось выбрать оптимальный режим работы и мощности инженерных систем. А роботизированный персонал, вернувшись к своим обязанностям быстро восстанавливал повреждения, возникшие в отсутствие защитного каркаса. ОТЛИЧНАЯ РАБОТА!</div>
<hr/>
<hr/>
<div class="alert alert-danger" role="alert"> Получив на руки комплекты самовосстановления, экипаж приступил к работе по спасению звездолета из плена черной дыры. Превысив предельно допустимые для человека значения многие получили серьезные повреждения. Имея на руках стимпакеты многие подготовленные члены экипажа без последствий перенесли перегрузки. Но не все, для большой части экипажа эта задача оказалась не под силу. Кто-то потерял сознание, кто-то поддался панике. Без слаженной работы всего экипажа у космического корабля нет шансов выбраться из этой смертельной ловушки. Корабль теряет скорость и приближается к горизонту событий черной дыры.</div>
<hr/>
<div class="alert alert-danger" role="alert"> Корабль быстро набирает скорость и стремительно удаляется от зияющей пасти черной дыры. Совместная работа систем ускорения и навигации уверенно несут его все ближе к спасению. Но вот перегрузки достигли критического значения. Постепенно весь экипаж, начиная от наименее выносливых теряет сознание и не может поддерживать эффективную работу систем. Без слаженной работы всего экипажа у космического корабля нет шансов выбраться из этой смертельной ловушки. Корабль теряет скорость и приближается к горизонту событий черной дыры.</div>
<hr/>
<div class="alert alert-success" role="alert">Специалисты космической биологии успешно устранили токсин вместе со всей биосферой, поддерживающей жизнедеятельность экипажа, но благодаря остаточной повышенной гравитации, новый урожай продуцирующих кислород и питатальные вещества растений взошел в стремительно-рекордные сроки. А астеройд черной материи был удачно отброшен обратно в космос одним из четырех гравиэкранов. Звездолет готов к путешествию и ничего не стоит на его пути. ОТЛИЧНАЯ РАБОТА!</div>
<hr/>


 
																<!--________________-->

</strong>
</div>
		</div><br/>



<a href ="/" ><button type="button" class="btn btn-danger">НА МОСТИК</button></a>
    </div>
		 </div>
	</div>
 <br/>
	</div>
