<div class="container">
	<div class="row">
		<div class="col-12">
			  <p><a  href="https://en.wikipedia.org/wiki/Red">
			  	 19:45:35
			  </a></p>
		</div>
	</div>

	<div class="row">
		 <div class="col-12">

			  	 <div class="alert alert-danger" role="alert">
  					Проблема. Все роботы космического корабля, созданные для помощь экипажу в исследовании дальнего космаса, вышли из строя. Они отказываются подчиняться приказам человка, считая себя высшими существами. За функциональностью корабля следит центральный компьютер с кинетическим интеллектом (VIKI). Все роботы следуют запрограммированным в нем логическим алгоритмам. В итоге на корабле началось кибервосстание. С каждым днем ситауация ухудшается - не только экспидиция, но и жизни членов экипажа под угрозой, ведь, по мнению роботов, люди всего лишь расходный материал...Предотвратите восстание!
				</div>
	
		 </div>
	</div>
  <div class="row">
  <div class="col-12">
		<div class="alert alert-light" role="alert">
			<p2>Сделайте выбор</p2>
			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
			  <div class="btn-group me-2" role="group" aria-label="First group">


				<%= form_for :bridge, method: :put do |f| %> 
			   
				<p1> <%= f.check_box  :robo,  value: 2  %>  </p1><br/><br/>
			    <button type="button" class="btn btn-success"> Вы принудительно выведете из строя центральный компьютер VIKI,воспользавшись нанитами.</button>
			    <button type="button" class="btn btn-success"> Вы измените логический алгоритм VIKI, пставив в приоритет Три Закона Роботехники, что, возможно, приведет к частичным поломкам корабля.
			    	<button class="button button-primary cta" type="submit">ОТПРАВИТЬ ОТЧЕТ</bu

			    <%end%>

			    </button>
			  </div>
		 	</div>
		</div><br/>
	</div>
  </div>
</div>
